<!-- <div class="container mt-5">
    <div *ngIf="!registerMode" style='text-align:center;'>
        <h1>Find your match</h1>
        <p class="lead">Come in to view matches.</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg">Learn More</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <p>Register Form goes here</p>
            </div>
        </div>
    </div>
</div> -->



<header>
    <video onloadedmetadata="this.muted=true" class="video-container" id="home-vid" autoplay loop>
        <source src="../assets/headervid.mp4" type="video/mp4" />
    </video>
</header>

<div class="home-content">



<div class="about">
    <h1 class="blue-neon">What is xJam?</h1>
    
    <p>xJam is a monthly game jam that is open to anyone and everyone! Staying in the spirit of Global Game Jam, xJam is all
    about good vibes, helping each other, meeting new people, and learning new things. At the end of each month we play the
    games live via Twitch! No experience or team necessary, come make a game with us!</p>
    
    <h3 class="blue-neon-sm">How do I participate?</h3>

    <p> You can participate in xJam in anyway you like, whether it be via this game jam, Discord, LinkedIn, Facebook, or the
    best way, all 4. Game jams are great ways to expand your professional portfolio, so I highly recommend creating yourself
    a LinkedIn if you have not already. The Discord is a great place for chatting with other jammers, while the Facebook
    group is perfect for sharing videos of your works in progress and creating threads to help tackle bugs you are having.
    Really, it's all about making it as easy and accessible as possible for everyone, which is what xJam is all about. </p>
    
    <h3 class="blue-neon-sm">How do I find a team?</h3>

    <p>If you have not joined a team yet and are looking for one, we have a dedicated discord channel that can help you find
    other solo jammers. If you prefer, you can also sign-up for our "Looking-For-Team" list and will be randomly placed with
    other jammers looking for a team. I highly encourage you to team-up, because building new connections, meeting new
    people, and learning to work in teams is a big part of game jams. Sign-up for the "Looking-For-Team" list is here:
    https://forms.gle/L374aQX8uCB2fd8L8</p>
    
    
    <h3 class="blue-neon-sm">I'm not going to finish in time!!! What do I do?!</h3>
    
    <p>Not going to make the deadline? Don't panic! We know things don't always go as planned. xJam has a 24 hour grace period
    after the deadline where you can still submit your project, so feel free to submit late! Unfinished games are welcome as
    well!</p>
</div>


<div class="news">
    <h1 class="yellow-neon">News</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Veniam, qui. Nemo qui ducimus quaerat deserunt architecto
        excepturi eveniet corrupti quod, magnam eaque magni nam labore
        nostrum dolores repellendus. Ad qui fugiat eligendi officia
        earum adipisci consequatur maxime repudiandae vero quasi, eum
        velit tenetur. Delectus totam adipisci ipsum esse voluptas ad.</p>

</div>



</div>



